/* This file is for your main application css. */

@import "bootstrap";

.side { padding: 4ex; text-align: center; }
h1 { text-align: center; }
body { font-size: 20pt; }
button.showing, button.hidden {
  width: 60px;
  height: 60px;
  margin: 10px;
}
button.match-tile {
  width: 60px;
  height: 60px;
  margin: 10px;
  background-color: #4CAF50; // green
  font-color: white;
}
